!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      TicTacToe
    %script(src="assets/jquery-1.11.2.js")
    %script(src="assets/tictac.js")
    %link(rel="stylesheet" type="text/css" href="assets/stylesheet.css" media="screen")
.frame
  .banner
  .row
    .box#1
    .box#2
    .box#3
  .row
    .box#4
    .box#5
    .box#6
  .row
    .box#7
    .box#8
    .box#9
